@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 400px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 40px;
  border-radius: 10px;
  position: relative;
}
h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
}
.form {
  /* display: flex;
  flex-direction: column; */
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
}
.form-control label {
  font-size: 18px;
  margin-bottom: 3px;
  color: #777;
}
.form-control input {
  height: 35px;
  padding: 5px 10px;
  border: 3px solid #f0f0f0;
  border-radius: 4px;
}
.form-control input:focus {
  outline: none;
  border-color: #777;
}
.form-control small {
  visibility: hidden;
  font-size: 12px;
  color: #e74c3c;
  margin-bottom: 10px;
}
.form-control.success input {
  border-color: #2ecc71;
}
.form-control.error input {
  border-color: #e74c3c;
}

.submit {
  height: 30px;
  background-color: #1584c0;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  width: 100%;
}
